@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/CircularStd-Book.woff') format('woff'), 
    url('../fonts/CircularStd-Book.ttf') format('truetype'), 
    url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: 'Open Sans', 'CircularStd',  Fallback, sans-serif;
    margin: 0;
    padding: 0; 
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

h1, h2, h3, h4, h5, a, p {
    padding: 0;
    margin: 0;
}
nav{
    float: left;
    width: 14%;
    height: 100%; 
    position: fixed; 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    /* padding: 10px; */
}
.nav-header{
    padding: 40px 20px 40px 20px;
    border-bottom: 1px solid #111;
    background: rgb(250, 250, 250);
}
.nav-header i{
    display: none;
}
.menu{
    display: block;
}
.nav-header h3{
    font-size: 30px;
    font-weight: 100;
    color: #3867d6;
    font-family: 'Open Sans', sans-serif;

}

.nav-header p{
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 3px;
    color: #888;
    font-family: 'Open Sans', sans-serif;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

nav ul li{
   padding: 0; 
   cursor: pointer;
   transition: all 0.1s ease-in-out;
}
nav li a{
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
nav li:nth-child(1):hover{
    background: #ddd;
    opacity: 0.9;
    border-left: 5px solid#3867d6; 
}
nav li:nth-child(2):hover{
    background: #ddd;
    opacity: 0.9;
    border-left: 5px solid#8854d0; 
}
nav li:nth-child(3):hover{
    background: #ddd;
    opacity: 0.9;
    border-left: 5px solid #2d98da; 
}
nav li:nth-child(4):hover{
    background: #ddd;
    opacity: 0.9;
    border-left: 5px solid#eb3b5a; 
}

 .li-icon-about{
    padding-right: 10px;
    color:#3867d6; 
    
 }
 .li-icon-project{
    padding-right: 10px;
    color: #8854d0; 
    width: 20px;
 }
 .li-icon-skill{
    padding-right: 10px;
    color: #2d98da;
    width: 20px;
 }
 
 .li-icon-contact{
    padding-right: 10px;
    color: #eb3b5a; 
    width: 15%;
 }


.home-screen{
    /* height: 100vh;
    width: 100%;
    background: rgba(76, 175, 80, 0.6), url(../images/bg.jpg)center top / cover no-repeat; 
    background: linear-gradient(45deg, rgba(38, 9, 184, 0.4), rgba(7, 26, 134, 0.9)), url(../images/bg2.jpg);
    color: #fff;
    z-index: -1;   
    width: 100%;
    height: 100vh;
    background-image:  url(../images/bg2.jpg); 
    background-size: cover;
    opacity: 0.9; */
    background: url(../images/bg.jpg) center top / cover no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.intro-section{
    position: absolute;
    color: #fff;
    width: 70%;
    text-align: left;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 20%;
}

.intro-section h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    text-shadow: 1px 1px 5px rgba(51, 50, 50, 0.5);
    font-family: 'Open Sans', sans-serif;
}
.intro-section p{
    font-size: 25px;
    line-height: 150%;
    text-shadow: 1px 1px 5px rgba(51, 50, 50, 0.5);
    font-family: 'Open Sans', sans-serif;
}
.intro-section h1:after{
    content: '';
    width: 80%;
    height: 1px;
    background-color: #3867d6;;
    display: block;
    position: relative;
    margin-top: 3px;
}
.highlight{
    padding: 0 10px;
    background-color: #3867d6;;
}


/*  auto scroll */
.slider-cont{
    position: absolute;
    color: #fff;
    width: 70%;
    text-align: left;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 80%;
}
.slider-section{
    height: 50px;
}
.scroll-container {
    overflow: hidden;
  }
  
  .sliding-background {
    background: url("../images/slider/slide.png") repeat-x;
    height: 50px;
    width: 5076px; /* The image width times 3 */
    animation: slide 60s linear infinite;
  }
  
  @keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1692px, 0, 0); /* The image width */
    }
  }


.slide-border1{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    height: 50px;
    
}




.body-section{
    float: right; 
    width: 86%;
    overflow: hidden;
    background: url(../images/bg3.jpeg)
}
@media only screen and (max-width: 400px) {
    .intro-section{
        position: absolute;
        color: #fff;
        width: 70%;
        text-align: left;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 25%;
    }
    
    .intro-section h1{
        font-weight: 50;
        font-size: 35px;
        line-height: 150%;
    }
    .intro-section p{
        margin-top: 20px;
        font-size: 20px;
        line-height: 150%;
    }
    .intro-section p:after{
        content: '';
        width: 260px;
        height: 2px;
        margin-top: 4px;
    } 
    .slider-cont{
        width: 90%;
        transform: translate(-50%, -50%);
        left: 45%;
        top: 70%;
    }
}
@media only screen and (max-width: 800px) {
    .intro-section{
        position: absolute;
        color: #fff;
        width: 70%;
        text-align: left;
        transform: translate(-50%, -50%);
        left: 40%;
        top: 30%;
    }
    
    .intro-section h1{
        font-weight: 50;
        font-size: 35px;
        line-height: 150%;
    }
    .intro-section p{
        margin-top: 20px;
        font-size: 20px;
        line-height: 150%;
    }
    .intro-section p:after{
        content: '';
        width: 260px;
        height: 2px;
        margin-top: 4px;
    } 
    .slider-cont{
        width: 90%;
        transform: translate(-50%, -50%);
        left: 45%;
        top: 70%;
    }
}

/* nav media query */
@media only screen and (max-width: 400px) {
    nav{
         display:  block;
         width: 100%;
         float: none;
         position: inherit;
         padding: 5px;
    }
    .body-section{
        display: block;
        width: 100%;
   }
   .nav-header{
        padding: 5px;
   }
    .nav-header h3, .nav-header p{
        text-align: center;
   }
   .nav-header h3{
        font-size: 28px;
    }
    .nav-header p{
        font-size: 18px;
    }
    .menu{
        display: none;
    }
    .nav-header i{
        display: block;
        position: absolute;
        font-size: 20px;
        left: 15px;
        top: 25px;
    } 
}
@media only screen and (max-width: 800px) {
    nav{
        display:  block;
        width: 100%;
        float: none;
        position: inherit;
        padding: 5px;
   }
   .body-section{
       display: block;
       width: 100%;
  }
  .nav-header{
       padding: 5px;
  }
   .nav-header h3, .nav-header p{
       text-align: center;
  }
  .nav-header h3{
       font-size: 28px;
   }
   .nav-header p{
       font-size: 18px;
   }
   .menu{
       display: none;
   }
   .nav-header i{
       display: block;
       position: absolute;
       font-size: 20px;
       left: 15px;
       top: 25px;
   } 
}



/* body */

.section-header-bg{
    background-color: #4b7bec;
}

.section-header h3{
    font-weight: 100;
    margin-bottom: 60px;
    margin-top: 0px;
    padding: 10px 40px;
    color: #fff;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.about-content-div{
    width: 70%;
    margin: auto auto 60px auto;
    overflow: hidden;
    
}
blockquote{
    color: #000;
    font-size: 18px;
    padding-left: 1.5rem;
    border-left: 5px solid#3867d6;
    margin: 20px 0px;
    font-family: 'Open Sans' sans-serif;
}
.about-content-div h3{
    font-weight: 100;
    margin-bottom: 20px;
}

.skill{
    color: #33d9b2;
    font-size: 125%;
    font-family: 'Open Sans' sans-serif;
}

.intro-text2{
    margin: 20px 0px;
}
.intro-text2 p{
    margin: 5px 0;
    font-size: 17px;
    color: #111;
    font-family: 'Open Sans' sans-serif;
    letter-spacing: 2px;
 }
.intro-text2 p a{
   text-decoration: none;
   color: #111;
}
/* Projects */
.card-div{
    width: 70%;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 50px;
}

.card{
    display: grid;
    grid-template-rows: 130px 120px 50px;
    grid-auto-rows: 300px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-name {
    background: #ddd;
}
.card-name h2{
    text-align: center;
    margin-top: 20%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
    color: #000;
}

.card-description{
    border-top: 2px solid #d1d8e0;
    padding: 10px;
}
.card-description h4{
    color: #111;
    font-family: 'Open Sans' sans-serif;
 }
 .card-description p{
     color: #666;
     font-size: 14px;
     margin-top: 10px;
  }
.card-link{
    align-self: end;
    background-color: #3867d6;
    height: 100%;
    color: #fff;
    padding: 5px;
    align-items: center;
    text-align: center;
}
.pd{
    padding-left: 10px;
    padding-right: 10px; 
}
.card-link a{
   position: relative;
   padding: 0 20px 0 20px;
   top: 25%;
   color: #fff;
   text-decoration: none;
}
.card-link a:hover{
    color: #a5b1c2;
 }

 @media only screen and (max-width: 400px) {
    .card-div{
        width: 85%;
        display: block;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-bottom: 50px;
    }
    
    .card{
        display: grid;
        margin: 20px 10px;
    }
 }
 @media only screen and (max-width: 800px) {
    .card-div{
        width: 85%;
        display: block;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-bottom: 50px;
    }
    
    .card{
        display: grid;
        margin: 20px 10px;
    }
 }
/* skill */


  .progress-bar{
      display: grid;
      grid-template-columns: 15% 90%;
      margin: 15px;
      grid-gap: 5px;
  }
    .language{
        width: 100%;
        height: 100%;
        display: block;
        background: #a5b1c2;
        padding: 2px;
        border-radius: 5px;
        text-align: center;
    }
    .progress-div {
        width: 100%;
        background-color: #ddd;
        border-radius: 5px;
        height: 100%;
      }

  
  .html { border-radius: 5px; height: 100%; padding: 5px; width: 90%; background-color: #4CAF50;}
  .css { border-radius: 5px; height: 100%; padding: 5px; width: 60%; background-color: #2196F3;}
  .sass { border-radius: 5px; height: 100%; padding: 5px; width: 30%; background-color: #a55eea;}
  .bootstrap { border-radius: 5px; height: 100%; padding: 5px; width: 90%; background-color:#8854d0;}
  .materialize { border-radius: 5px; height: 100%; padding: 5px; width: 90%; background-color:#eb3b5a;}

  .js {border-radius: 5px; height: 100%; width: 65%; padding: 5px; background-color: #f44336;}
  .vue-js { border-radius: 5px; height: 100%; padding: 5px; width: 50%; background-color:#26de81;}
  .react { border-radius: 5px; height: 100%; padding: 5px; width: 30%; background-color:#2bcbba;}

  .firebase { border-radius: 5px; height: 100%; padding: 5px; width: 40%; background-color:#4b6584;}
  .psql { border-radius: 5px; height: 100%; padding: 5px; width: 10%; background-color:#4b7bec;}
  .wordpress { border-radius: 5px; height: 100%; padding: 5px; width: 70%; background-color:#778ca3;}
  .github { border-radius: 5px; height: 100%; padding: 5px; width: 70%; background-color:#000;}
  .photoshop { border-radius: 5px; height: 100%; padding: 5px; width: 15%; background-color:#4b7bec;}
  
.mb{
    margin-bottom: 60px;
}

@media only screen and (max-width: 400px) {
    .about-content-div{
        width: 90%;
    }
    .progress-bar{
        display: block;
    }
    .language{
        width: 100%;
        height: 100%;
        display: block;
        margin: 10px 0 10px 0;
    }
    .progress-div {
        width: 100%;

    }
    .about-content-div h3{
        margin-bottom: 20px;
    }
    .section-header h3{
        margin-bottom: 20px;
    }
 }
 @media only screen and (max-width: 800px) {
    .about-content-div{
        width: 90%;
    }
    .progress-bar{
        display: block;
    }
    .language{
        width: 100%;
        height: 100%;
        display: block;
        margin: 10px 0 10px 0;
    }
    .progress-div {
        width: 100%;

    }
    .about-content-div h3{
        margin-bottom: 20px;
    }
    .section-header h3{
        margin-bottom: 20px;
    }
 }

/* contact */
center{
    text-align: center;
}

.contact{
    text-align: center;
    padding: 15px;
}

.contact h3{
    font-family: 'Opens Sans' sans-serif;
    font-size: 22px;
    
}
.contact p{
    font-family: 'Opens Sans' sans-serif;
    font-size: 17px;
   
    
}
.contact-mail{
    text-align: center;
    margin: 15px;
}
.contact-mail a{
    font-family: 'Opens Sans' sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    border: 3px solid #3867d6;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

.contact-mail a:hover{
    color: #fff;
    background-color:  #3867d6;
    
}

.contact-social-media{
    text-align: center;
    padding: 10px;
}
.contact-social-media a{
    padding: 0 10px 0 10px;
    font-size: 19px;
    color: #3867d6;
}
.contact-social-media a:hover{
    color: #a5b1c2;
}




#myBtn {
    display: none;
    position: fixed;
    bottom: 17px;
    right: 30px;
    z-index: 99;
    font-size: 22px;
    border: none;
    outline: none;
    color: #3867d6;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    color: #555;
  }

  @media only screen and (min-width: 800px) {
    #myBtn {
        font-size: 25px;
      }
      
 }
/* Image credit */
/* Photo by Patrick Ryan on Unsplash */